#click-on-show-text{
  margin-top: 0;
  padding-top: 10px;
}

.container {
  width: 99%;
  margin: auto;
  padding: 10px;
}
#show-image-div{
  width: 20%;
  float: left;
}
.show-image{
  width: 200px;
}
#show-info-div{
  margin-left: 22%;
}
